# overfittin 예제

In [8]:
import seaborn as sns

df = sns.load_dataset('titanic')

In [9]:
cols = ['age','sibsp','parch','fare']
features = df[cols]
target = df['survived']

In [12]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

cols = ['pclass','sex','embarked']
enc = OneHotEncoder()
tmp = pd.DataFrame(
    enc.fit_transform(df[cols]).toarray(),
    columns = enc.get_feature_names_out()
)
tmp
features = pd.concat([features,tmp],axis=1)
features.head(3)

,age,sibsp,parch,fare,pclass_1,pclass_2,pclass_3,sex_female,sex_male,embarked_C,...,embarked_nan,pclass_1,pclass_2,pclass_3,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,embarked_nan
0,22.0,1,0,7.2500,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,38.0,1,0,71.2833,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,26.0,0,0,7.9250,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [13]:
features.age = features.age.fillna(-1)
features.isnull().sum().sum()

0

In [14]:
from sklearn.model_selection import train_test_split
SEED=42

x_train,x_valid, y_train,y_valid= train_test_split(features,target,random_state=SEED,test_size=0.2)

x_train.shape,x_valid.shape, y_train.shape,y_valid.shape

((712, 22), (179, 22), (712,), (179,))

## 모델 복잡도에 따른 overfittin 예제

In [15]:
from sklearn.tree import DecisionTreeClassifier
SEED = 42

model = DecisionTreeClassifier(max_depth=20,random_state=SEED)


model.fit(x_train,y_train)



model.score(x_train,y_train) , model.score(x_valid,y_valid)

(0.9803370786516854, 0.770949720670391)

## 모델 복잡도를 줄인 예제

In [16]:
model = DecisionTreeClassifier(max_depth=3,random_state=SEED)
model.fit(x_train,y_train)
model.score(x_train,y_train) , model.score(x_valid,y_valid)

(0.8146067415730337, 0.7932960893854749)