In [1]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ---------------------------------------- 81.2/81.2 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\user\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np 
import pandas as pd

import category_encoders as ce

## One Hot Encoding

- one hot encoding은 범주형을 0,1로 이루어진 컬럼으로 바꿔주는 인코딩 방식
- 가장 많이 사용하면 대부분 다 해결됨

In [4]:
data = {'color':['Red','Blue','Green']}
df= pd.DataFrame(data)
df.head()

   color
0    Red
1   Blue
2  Green

In [15]:
encoder = ce.OneHotEncoder(use_cat_names=True) # 인코딩 객체 만들어짐 (use_cat_names는 기존 컬럼명 유지 용도)

df_encoded = encoder.fit_transform(df) # df를 인코딩

df_encoded.head()

   color_Red  color_Blue  color_Green
0          1           0            0
1          0           1            0
2          0           0            1

## mean encoing

In [18]:
data = {'Pincode': ['753001', '753002', '753003', '753001', '753004', '753002', '753002', '753001', '753003']
        , 'O/P': [1, 1, 0, 0, 1, 0, 1, 0, 1]}
df2 = pd.DataFrame(data) 
df2.head(3)

  Pincode  O/P
0  753001    1
1  753002    1
2  753003    0

In [22]:
group_mean = df2.groupby('Pincode')['O/P'].mean()
group_mean

Pincode
753001    0.333333
753002    0.666667
753003    0.500000
753004    1.000000
Name: O/P, dtype: float64

In [23]:
df2['Mean'] = df2['Pincode'].map(group_mean)
df2.head()

  Pincode  O/P      Mean
0  753001    1  0.333333
1  753002    1  0.666667
2  753003    0  0.500000
3  753001    0  0.333333
4  753004    1  1.000000

## Label Encoding(별로 안좋음)

In [24]:
data = {'column': ['Btech', 'Masters', 'High School', 'PHD']}
df = pd.DataFrame(data) 
df.head()

        column
0        Btech
1      Masters
2  High School
3          PHD

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
encoder = LabelEncoder()

df['column_encoded'] = encoder.fit_transform(df['column'])

df.head()

        column  column_encoded
0        Btech               0
1      Masters               2
2  High School               1
3          PHD               3

In [28]:
df['column'].unique()

array(['Btech', 'Masters', 'High School', 'PHD'], dtype=object)

## Target Encoding

In [37]:
data = {'Column': ['Btech', 'PHD', 'Masters', 'High School', 'PHD', 'Btech', 'Masters', 'High School', 'High School']
        , 'O/P': [1, 1, 0, 0, 1, 0, 0, 0, 1]}
df = pd.DataFrame(data) 
df

        Column  O/P
0        Btech    1
1          PHD    1
2      Masters    0
3  High School    0
4          PHD    1
5        Btech    0
6      Masters    0
7  High School    0
8  High School    1

In [39]:
encoder = ce.TargetEncoder()

df_encoded = encoder.fit_transform(df['Column'], df['O/P'])
df['encoded'] = df_encoded['Column']
df['Rank'] = df['encoded'].rank(method='dense', ascending=False)

df.head(3)

    Column  O/P   encoded  Rank
0    Btech    1  0.452325   2.0
1      PHD    1  0.523251   1.0
2  Masters    0  0.381400   4.0

## Ordinal Encoding

In [40]:
df = pd.DataFrame(
    {'Fruit': ['시과', '딸기', '바나나', '수박', '포도',
               '메론','자두','체리','화이트베리', '무화과'],
     'color':['red1','red2','yellow','red','purple','green','light red','pink','white','brown'],
     'price': [2000,300,400, 30000, 150, 8000,1000,100,300,800]})

df.head()

  Fruit   color  price
0    시과    red1   2000
1    딸기    red2    300
2   바나나  yellow    400
3    수박     red  30000
4    포도  purple    150

In [41]:
encoder = ce.OrdinalEncoder(cols = 'color')

df_encoded = encoder.fit_transform(df)
df_encoded.head()

  Fruit  color  price
0    시과      1   2000
1    딸기      2    300
2   바나나      3    400
3    수박      4  30000
4    포도      5    150