# 기본 세팅

In [393]:
from google.colab import drive
drive.mount('/content/data') # 드라이브 연결

Drive already mounted at /content/data; to attempt to forcibly remount, call drive.mount("/content/data", force_remount=True).

In [394]:
# 데이터 분석에 사용할 라이브러리
import pandas as pd
import numpy as np
# 데이터 시각화에 사용할 라이브러리
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

In [395]:
# 코렙 한글깨짐 방지
!apt -qq -y install fonts-nanum > /dev/null

# fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
# font_name = fm.FontProperties(fname=fontpath).get_name() 
# fm._rebuild()  


# %config InlineBackend.figure_format = 'retina'

# plt.rc('font', family=font_name)  
# plt.rcParams['axes.unicode_minus'] = False

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

# 데이터 초기 작업

## 데이터 불러오기

In [324]:
DATA_PATH = "/content/data/MyDrive/machine learning/data/Titanic.csv"
df = pd.read_csv(DATA_PATH)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 기본 조회

In [80]:
df.shape , df.columns

((891, 12),
 Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
       dtype='object'))

In [81]:
df.columns = [col.lower() for col in df.columns] # 컬럼명 소문자로 변환
df.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   name         891 non-null    object
 4   sex          891 non-null    object
 5   age          714 non-null    float64
 6   sibsp        891 non-null    int64
 7   parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   fare         891 non-null    float64
 10  cabin        204 non-null    object
 11  embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [83]:
df.describe(include='all')

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [84]:
df.describe(include=np.number) # 수치형 변수만 describe

,passengerid,survived,pclass,age,sibsp,parch,fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [85]:
df.describe(exclude=np.number) # 범주형 변수만 describe

                           name   sex  ticket    cabin embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [86]:
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [87]:
df.tail()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [88]:
new_survived = pd.Categorical(df['survived'])
new_survived = new_survived.rename_categories(["Died","Survived"]) 
new_survived.describe()

            counts     freqs
categories
Died           549  0.616162
Survived       342  0.383838

## 데이터 분리

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
SEED = 42

X_tr,X_te = train_test_split(df , random_state=SEED , test_size=0.2)
X_tr = X_tr.reset_index(drop=True) # 인덱스 재정렬
X_te = X_te.reset_index(drop=True) # 인덱스 재정렬
X_tr.shape , X_te.shape

((712, 12), (179, 12))

In [91]:
new_survived = pd.Categorical(X_tr['survived'])
new_survived = new_survived.rename_categories(["Died","Survived"])              
print(new_survived[:5])
new_survived.describe()

['Died', 'Died', 'Died', 'Died', 'Died']
Categories (2, object): ['Died', 'Survived']

            counts     freqs
categories
Died           444  0.623596
Survived       268  0.376404

## Data Cleaning

### 필요없는 데이터 컬럼 처리

In [ ]:
X_tr['passengerid'].nunique() ,X_tr.shape[0]

In [378]:
X_tr['passengerid']

KeyError: ignored

In [ ]:
# passengerid컬럼은 전체 데이터가 다르기 떄문에 삭제해도 상관없다
X_tr.drop('passengerid',axis=1,inplace=True)
X_te.drop('passengerid',axis=1,inplace=True)

X_tr.columns

### 결측치 처리

In [ ]:
X_tr.isnull().sum() # 결측값 개수(컬럼별)

In [ ]:
X_tr.isnull().sum().sum() # 모든 컬럼 결측치 개수

In [ ]:
(X_tr.isnull().sum() / X_tr.shape[0]).round(4).sort_values(ascending=False)
# 결측값 개수 / 전체 수 를 하면 결측값 비율을 구하고 반올림 , 정렬

In [ ]:
X_tr = X_tr.drop('cabin', axis=1)
X_te = X_te.drop('cabin', axis=1)
# cabin열에 결측치를 제거한다

In [ ]:
X_tr['age'] = X_tr['age'].fillna(X_tr['age'].median()) 
X_te['age'] = X_te['age'].fillna(X_tr['age'].median())
# age 결측치를 age 중간값으로 채운다 (수치형일떄 좋음 )

In [ ]:
embarked_mode = X_tr['embarked'].mode().values[0]
# 가장 최빈값(mode)에 values를 보면 numpy형태로 나오는데 그중 indexing으로 추출

X_tr['embarked'] = X_tr['embarked'].fillna(embarked_mode)
X_te['embarked'] = X_te['embarked'].fillna(embarked_mode)
# embarked 칼럼의 결측값을 최빈값으로 채운다 (범주형일때 좋음 )

In [ ]:
X_tr.isnull().sum().sum()
X_te.isnull().sum().sum()
# 최종적으로 결측값 총 수가 어느정도 되는지 확인

## 새로운 데이터 만들기

### 수치형 데이터 타입 변환

In [155]:
X_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      712 non-null    int32
 1   pclass        712 non-null    category
 2   name          712 non-null    object
 3   sex           712 non-null    category
 4   age           712 non-null    int32
 5   sibsp         712 non-null    int64
 6   parch         712 non-null    int64
 7   ticket        712 non-null    object
 8   fare          712 non-null    float64
 9   embarked      712 non-null    category
 10  designation   712 non-null    object
 11  designation2  712 non-null    object
 12  designation3  712 non-null    object
 13  last_name     712 non-null    object
dtypes: category(3), float64(1), int32(2), int64(2), object(6)
memory usage: 58.2+ KB

In [156]:
df_number = X_tr.select_dtypes(include=np.number) # 수치형 데이터만 추출
df_number.columns

Index(['survived', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [157]:
df_number.info()
df_number.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  712 non-null    int32
 1   age       712 non-null    int32
 2   sibsp     712 non-null    int64
 3   parch     712 non-null    int64
 4   fare      712 non-null    float64
dtypes: float64(1), int32(2), int64(2)
memory usage: 22.4 KB

   survived  age  sibsp  parch     fare
0         0   45      0      0  28.5000
1         0   23      0      0  13.0000
2         0   32      0      0   7.9250
3         0   26      1      0   7.8542
4         0    6      4      2  31.2750

In [158]:
X_tr['survived'] = X_tr['survived'].astype('int32')
X_te['survived'] = X_te['survived'].astype('int32')

X_tr['age'] = X_tr['age'].astype('int32')
X_te['age'] = X_te['age'].astype('int32')
# survived ,age  type을 int형으로 변경

In [159]:
X_tr['pclass'].unique() # pclass 고유값 확인`

[1, 2, 3]
Categories (3, int64): [1, 2, 3]

In [160]:
X_tr['sibsp'].unique() # sibsp 고유값 확인`

array([0, 1, 4, 3, 2, 8, 5])

In [161]:
X_tr["pclass"] = X_tr["pclass"].astype("category")
X_te["pclass"] = X_te["pclass"].astype("category")

X_tr["sibsp"] = X_tr["sibsp"].astype("category")
X_te["sibsp"] = X_te["sibsp"].astype("category")

# pclass , sibsp를 카테고리 형태로 변환

In [162]:
X_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      712 non-null    int32
 1   pclass        712 non-null    category
 2   name          712 non-null    object
 3   sex           712 non-null    category
 4   age           712 non-null    int32
 5   sibsp         712 non-null    category
 6   parch         712 non-null    int64
 7   ticket        712 non-null    object
 8   fare          712 non-null    float64
 9   embarked      712 non-null    category
 10  designation   712 non-null    object
 11  designation2  712 non-null    object
 12  designation3  712 non-null    object
 13  last_name     712 non-null    object
dtypes: category(4), float64(1), int32(2), int64(1), object(6)
memory usage: 53.7+ KB

### 범주형 데이터 타입 변환

In [163]:
df_object = X_tr.select_dtypes(include='object')
df_object.columns

Index(['name', 'ticket', 'designation', 'designation2', 'designation3',
       'last_name'],
      dtype='object')

In [164]:
df_object.head(3)

,name,ticket,designation,designation2,designation3,last_name
0,"Partner, Mr. Austen",113043,Mr.,Mr,Austen,Austen
1,"Berriman, Mr. William John",28425,Mr.,Mr,William John,William John
2,"Tikkanen, Mr. Juho",STON/O 2. 3101293,Mr.,Mr,Juho,Juho

In [165]:
X_tr["sex"] = X_tr["sex"].astype("category")
X_te["sex"] = X_te["sex"].astype("category")

X_tr["embarked"] = X_tr["embarked"].astype("category")
X_te["embarked"] = X_te["embarked"].astype("category")

- 문자열 타입 변환

In [166]:
df_object = X_tr.select_dtypes(include='object')
df_object.columns # 문자열만 나오게 함

Index(['name', 'ticket', 'designation', 'designation2', 'designation3',
       'last_name'],
      dtype='object')

In [167]:
df_object.head(3)

,name,ticket,designation,designation2,designation3,last_name
0,"Partner, Mr. Austen",113043,Mr.,Mr,Austen,Austen
1,"Berriman, Mr. William John",28425,Mr.,Mr,William John,William John
2,"Tikkanen, Mr. Juho",STON/O 2. 3101293,Mr.,Mr,Juho,Juho

In [168]:
df_object.describe()

,name,ticket,designation,designation2,designation3,last_name
count,712,712,712,712,712,712
unique,712,558,14,14,637,637
top,"Partner, Mr. Austen",CA. 2343,Mr.,Mr,John,John
freq,1,7,419,419,8,8

In [169]:
# 공백 제거
X_tr['name'] = X_tr['name'].map(lambda x: x.strip())
X_tr['ticket'] = X_tr['ticket'].map(lambda x: x.strip())

X_tr['name'] = X_tr['name'].map(lambda x: x.strip())
X_tr['ticket'] = X_tr['ticket'].map(lambda x: x.strip())

In [325]:
dict_designation = {
    'Mr': '남성',
    'Master': '남성',
    'Sir': '남성',
    'Miss': '미혼 여성',
    'Mrs': '기혼 여성',
    'Ms': '미혼/기혼 여성',
    'Lady': '숙녀',
    'Mlle': '아가씨',
    # 직업
    'Dr': '의사',
    'Rev': '목사',
    'Major': '계급',
    'Don': '교수',
    'Col': '군인',
    'Capt': '군인',
    # 귀족
    'Mme': '영부인',
    'Countess': '백작부인',
    'Jonkheer': '귀족',
    'the Countess': '왕'
}

In [326]:
dict_designation.keys()

dict_keys(['Mr', 'Master', 'Sir', 'Miss', 'Mrs', 'Ms', 'Lady', 'Mlle', 'Dr', 'Rev', 'Major', 'Don', 'Col', 'Capt', 'Mme', 'Countess', 'Jonkheer', 'the Countess'])

- 잘라서 새로운 칼럼 만들기

In [336]:
X_tr['구분'] = X_tr['name'].str.split('.').str[0]
X_tr['구분'] = X_tr['구분'].str.split(',').str[1]
X_tr['구분']

0         Mr
1         Mr
2         Mr
3         Mr
4       Miss
       ...
707     Miss
708       Mr
709       Mr
710     Miss
711       Mr
Name: 구분, Length: 712, dtype: object

In [ ]:
X_tr['성'] = X_tr['name'].str.split('.').str[1]
X_tr['성']

In [ ]:
X_tr['이름'] = X_tr['name'].str.split('.').str[0]
X_tr['이름'] = X_tr['이름'].str.split(',').str[0]
# X_tr['이름'] = X_tr['이름'].str.split(',')
X_tr['이름']

In [329]:
X_tr[['이름','성','구분']]

              이름                   성     구분
0        Partner              Austen     Mr
1       Berriman        William John     Mr
2       Tikkanen                Juho     Mr
3         Hansen         Henrik Juul     Mr
4      Andersson   Ebba Iris Alfrida   Miss
..           ...                 ...    ...
707  Salkjelsvik       Anna Kristine   Miss
708       Cairns           Alexander     Mr
709       Hansen         Claus Peter     Mr
710       Carter         Lucile Polk   Miss
711        White      Richard Frasar     Mr

[712 rows x 3 columns]

In [306]:
X_tr['구분'].unique()

array(['Mr', 'Miss', 'Major', 'Mrs', 'Master', 'Rev', 'Dr', 'Col', 'Mlle',
       'Capt', 'Mme', 'Ms', 'the Countess', 'Lady'], dtype=object)

In [222]:
# 방법 2
def get_last_name(name):
  last_name =None
  try:
    for key in dict_designation.keys():
      if key in name:
        name = name.replace(key,'')
        last_name = name.split(',')[1].strip()
  except:
    pass
  return last_name

In [261]:
# ticket 에서 숫자만 추출하고 숫자를 int32로 변환
X_tr['ticket number'] = X_tr['ticket'].str.split(' ').str[-1]
X_tr['ticket number']

0       113043
1        28425
2      3101293
3       350025
4       347082
        ...
707     343120
708     113798
709     350026
710     113760
711      35281
Name: ticket number, Length: 712, dtype: object

In [ ]:
# 강사님 코드
def add_ticket_number(ticket):
  try:
    ticket_split = ticket.split(' ')
    return int(ticket_split[-1])
  except:
    return 0 # ticket이 LINE인 경우

X_tr['ticket_number'] = X_tr['ticket'].map(lambda x: add_ticket_number(x)).astype("int32")
X_te['ticket_number'] = X_te['ticket'].map(lambda x: add_ticket_number(x)).astype("int32")

X_tr.head()

In [341]:
X_tr['구분'] = X_tr['구분'].map(lambda x: x.strip())

In [372]:
def aa(x):
  # 로직 
  return dict_designation[x]

# x에 뭐를 넣던 그거에 대한 value만 반환해라 

X_tr['구분'].map(aa)

0         남성
1         남성
2         남성
3         남성
4      미혼 여성
       ...
707    미혼 여성
708       남성
709       남성
710    미혼 여성
711       남성
Name: 구분, Length: 712, dtype: object

In [342]:
X_tr['구분'].map(dict_designation)

0         남성
1         남성
2         남성
3         남성
4      미혼 여성
       ...
707    미혼 여성
708       남성
709       남성
710    미혼 여성
711       남성
Name: 구분, Length: 712, dtype: object

In [339]:
X_tr['구분']

0        Mr
1        Mr
2        Mr
3        Mr
4      Miss
       ...
707    Miss
708      Mr
709      Mr
710    Miss
711      Mr
Name: 구분, Length: 712, dtype: object

## 집계

#### 피벗 테이블

In [373]:
df_pivot = pd.pivot_table(X_tr,index='pclass',values='fare',aggfunc='mean').reset_index()
df_pivot.rename(columns = {'fare':'fare_mean'},inplace=True)
df_pivot.head(3)
# fare의 평균을

  pclass  fare_mean
0      1  89.253911
1      2  20.575938
2      3  13.934860

#### merge

In [ ]:
X_tr = pd.merge(X_tr,df_pivot,how='left',on='pclass')
X_te = pd.merge(X_te,df_pivot,how='left',on='pclass')
# left 방식은 row가 늘어나지않고 왼쪽X_tr기준으로 df_pivot값들이 매칭되는 느낌
X_tr